@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to User Registration</h1>
    <p>Enter you information <a href="/Home/Users">here</a>.</p>

</div>


<!--
<form action="/home/bands">
    Favorite Band: <input type="text" name="band"/><br />
    Favorite Album: <input type="text" name="album"/> <br />
    <input type="submit"/>
</form> -->
