
@{
    ViewData["Title"] = "Summary";
}

<h1>Summary</h1>

<p>
    First Name: @ViewData["firstname"] <br />
    Last Name: @ViewData["lastname"]<br />
    Email: @ViewData["email"]<br />
    Password: @ViewData["password"]
</p>

