
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<h2>
    Please Enter Your Information Below
</h2>

<form action="/home/summary">
    First Name: <input type="text" name="firstName"/><br />
    Last Name: <input type="text" name="lastName"/> <br />
    Email: <input type="email" name="email"/> <br />
    Password: <input type="password" name="password"/> <br />

    <input type="submit"/>
</form>