@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User Registration Form <br />
       Click <a href="https://docs.microsoft.com/aspnet/core">here</a> to go to registration form.  
    </p>
</div>
