@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>  CLick below to go to the new user registration page   </p>

    @{
        foreach (var currentUser in Program.userList)
        {
           <a href="Home/EditUser?id=@currentUser.Id"> Edit user @(currentUser.FirstName+" "+currentUser.LastName)</a><br/>
        }
    }

    <a href="Home/NewUser">Go to New Users</a>

</div>