@page
@{
}

<body>
    <p>
        Yes. And it is this. Philosophy is a better way to think but is a worthless career, while thinking is our markets bread and butter for growth.
        Maybe this journey annoyed you and you want to <a href="Index">go back</a> home. But you can take a change and go <a href="https://iep.utm.edu/aristotle-logic/">here</a>.
    </p>
</body>