@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My WebPage</h1>
    <p>Read Below</p>
</div>
<b></b>
<body>
    <p>
        To read the rest of this sentence. You must click on the hyperlinks below. The next sentence reads...

        <ul>
            <a href ="secondpage">...the following, </a>
        </ul>
        <ul>
            <p>...because the meaning is not finished until you click <a href="thirdpage">here.</a></p>
        </ul>
        <ul>
            <p>...but is there a <a href="fourthpage">surprise?</a></p>
        </ul>

    </p>
</body>