@model webkata3.Models.Pig

@{
    ViewData["Title"] = "ViewPig";
}

<h1>ViewPig</h1>

<h4>Pig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewPig">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weightInPounds" class="control-label"></label>
                <input asp-for="weightInPounds" class="form-control" />
                <span asp-validation-for="weightInPounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oinkVelocityMph" class="control-label"></label>
                <input asp-for="oinkVelocityMph" class="form-control" />
                <span asp-validation-for="oinkVelocityMph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
