@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!--DECK OF CARDS LAB-->
<!--Ueses DisplayDeckofCards cshtml page-->
<a href="Home/DisplayDeckOfCards">Call Deck of cards create</a>
<br/>



<!--REDDIT LAB-->
<!--Ueses DisplayReddit cshtml page-->
<a href="Home/DisplayReddit">Reddit</a>