<p>Enter in new Product Details Below</p>

<form action="CreateNewProductSubmit" method="post">
    
    <input label="Name" name="Name"/><br/>
    <input label="Description" name="Description" value="What is the product"/><br/>
    <input label="Price" name="Price" type="number" value="Cost of Item"/><br/>
    <input label="Category" name="Category" value="Enter a Category"/><br/><br/><br/>
    <input  name="submit" type="submit" />
</form>