@model entityframework.Products


<p>Product Details</p>

<br/>
<br/>
<br/>


<p>ID:          @Model.Id</p>
<p>Name:        @Model.Name</p>
<p>Description: @Model.Description</p>
<p>Price:       $@Model.Price</p>
<p>Category:    @Model.Category</p>

